* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "interr";
}

@font-face {
    font-family: "interr";
    src: url("./inter.ttf");
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 2rem;
}

nav img {
    width: 50px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav button {
    background-color: black;
    padding: 0.5rem 1.5rem;
    border: none;
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

svg {
    fill: white;
    width: 16px;
}
.hero {
    width: 100%;
    height: calc(100% - 200px);
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.hero h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.abs {
    color: #beff01;
    font-size: 15rem;
    z-index: -1;
    position: absolute;
    left: -100px;
}

.sidebar {
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: -90px;
    display: flex;
    align-items: end;
    gap: 2rem;
    transform: rotate(270deg);
}
