* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

.main {
    width: 100%;
    position: relative;
    background-color: rgb(252, 252, 252);
}

.instagram {
    height: 100vh;
    display: flex;
    width: 100%;
    background-color: #f6f6f6;
}

.sidebar {
    width: 20%;
    height: 100%;
    background-color: white;
    position: fixed;
    left: 0;
}

.right-container {
    right: 0;
    position: fixed;
    height: 100%;
    width: 80%;
    overflow: auto;
}

.top-nav {
    position: fixed;
    left: 20%;
    height: 10vh;
    width: 100%;
    /* right: 0; */
    background-color: #f6f6f6;
    gap: 10px;
    display: flex;
}

.box {
    background-color: #f6f6f6;
    /* position: fixed; */
    height: 10vh;
    width: 40%;
}

.box .right {
    right: 0;
}

.nav-left {
    padding: 20px;
}
.nav-left input {
    padding: 15px;
    width: 400px;
    border: none;
    border-radius: 50px;
}

.nav-right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding-right: 30px;
}

.nav-right svg {
    width: 35px;
    height: 35px;
}

.nav-right button {
    padding: 12px 40px;
    color: white;
    border-radius: 50px;
    border: none;
    /* font-size: 1.3rem; */
    background: linear-gradient(to left, #e00677, #fb7108);
}

.story {
    height: 10vh;
    background-color: #f6f6f6;
    position: fixed;
    width: 100%;
    top: 10vh;
}

.story h1 {
    font-size: 1.5rem;
    padding-left: 20px;
}

.stories {
    width: 80%;
    display: flex;
    gap: 1rem;
    padding: 20px 0 0 20px;
    overflow: auto;
    scrollbar-width: none;
}

.story-n {
    border-radius: 50%;
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    background-color: #ebebeb;
    position: relative;
    border: #e00677 solid 2px;
}

.story-n .plus {
    bottom: 0;
    margin: 0;
    right: 0;
    position: absolute;
    background-color: #2992c7;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    border-radius: 50%;
}
.story-n:nth-child(1) svg {
    fill: white;
    border: none;
}

.story-n:nth-child(1) {
    border: none;
}

.story-n:nth-child(2) {
    /* display: flex;
    justify-content: center;
    align-items: end; */
    position: relative;
    /* background-color: #e00677; */
    padding: 4px 8px;
}
.story-n:nth-child(2) div {
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 50%;
    transform: translatex(-50%, -50%);
    background-color: #e00677;
    /* padding: 4px 8px; */
    font-size: 0.8rem;
    color: white;
}

.feed {
    width: 100%;
    position: fixed;
    top: 33vh;
}

.feed h1 {
    font-size: 1.5rem;
    padding-left: 20px;
}

.cols {
    margin-top: 20px;
    margin: 20px;
    width: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cols .col {
    width: calc(100% / 3);
    flex-shrink: 1;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* width: 30%; */
    height: 100vh;
    /* background-color: red; */
}

.p-1 {
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
    /* height: 20px; */
    width: 100%;
    background-color: white;
    border-radius: 30px;
    padding: 15px;
}

.info {
    gap: 1rem;
    display: flex;
    justify-content: start;
    width: 100%;
    align-items: center;
}

.info .dots {
    margin-right: 0;
    margin-left: auto;
}
.pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ebebeb;
}

.username {
    font-weight: bold;
}

.loc {
    color: grey;
}

.content {
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: #ebebeb;
}

.pfp1 {
    background: url(https://randomuser.me/api/portraits/men/21.jpg);
    background-size: cover;
}

.pfp2 {
    background: url(https://randomuser.me/api/portraits/lego/5.jpg);
    background-size: cover;
}

.pfp3 {
    background: url(https://randomuser.me/api/portraits/men/7.jpg);
    background-size: cover;
}

.content1 {
    height: 200px;
    background: url(https://images.unsplash.com/photo-1489516408517-0c0a15662682?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}

.content2 {
    height: 300px;
    background: url(https://plus.unsplash.com/premium_photo-1673266633993-013acd448898?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: top;
    background-size: cover;
}

.content3 {
    height: 150px;
    background: url(https://plus.unsplash.com/premium_photo-1667997886539-77d6e47f5672?q=80&w=2061&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

.interaction {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.i1 {
    display: flex;
    gap: 15px;
}
.interaction svg {
    stroke-width: 5;
    height: 20px;
    width: 20px;
}

.about {
    padding-top: 8px;
    font-size: 0.8rem;
}

.liked {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pfp-liked {
    width: 15px;
    height: 15px;
    background-color: #ebebeb;
    border-radius: 50%;
}

.liked p span {
    font-weight: bold;
}

.about-text {
    padding-top: 5px;
}

.sidebar {
    padding: 30px;
    padding-top: 0;
}

.logo {
    display: flex;
    justify-content: start;
    width: 100%;
    /* padding-top: -10px; */
    padding-top: 20px;
    gap: 10px;
    margin-bottom: 40px;
    /* height: 70px; */
}

.text-logo {
    img {
        width: 50%;
    }
    /* height: 500px; */
    /* margin-top: 20px; */
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ebebeb;
    background: url(./pfp.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-name {
    padding-top: 10px;
    font-weight: bold;
}

.profile-user {
    font-size: 0.8rem;
    color: grey;
}

.followers {
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    display: flex;
}

.item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.sidebar h1 {
    font-size: 0.9rem;
}

.sidebar p {
    color: rgb(64, 64, 64);
    font-size: 0.8rem;
}

.divider {
    height: 25px;
    width: 1px;
    background-color: black;
}

.sidebar-about {
    padding-top: 20px;
}

.sidebar-about p {
    padding-top: 5px;
}

.story-highlights {
    padding-top: 20px;
}

.stories-h {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.s-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ebebeb;
}

.logout {
    align-items: center;
    justify-content: start;
    gap: 15px;
    display: flex;
    font-weight: 500;
    font-size: 1.2rem;
    position: absolute;
    bottom: 30px;
}

.logout-n {
    gap: 1rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.logout-n svg,
.logout svg {
    width: 25px;
    height: 25px;
}

.navs {
    margin-top: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
